body {

    /* ## Colors */

    /* ### Primary */

    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    /* ### Neutral */

    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);

    --footer-bg: rgb(245,246,248);



    background-color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ## General styles */

.download-btns .download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem 0;
    border: none;
    transition: filter 0.3s ease-in-out;
}



.download-btn:first-of-type {
    background-color: var(--strong-cyan);
}

.download-btns .download-btn:hover {
    filter: brightness(1.3);
}

.download-btn:last-of-type {
    background-color: var(--light-blue);
    box-shadow: 0px 10px 20px rgba(23, 128, 255, 0.23);
}

ul,h1,h2,h3,p {
    margin: 0;
    padding: 0;
    list-style: none;
}

section .section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

section .section-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: var(--grayish-blue);
    margin-bottom: 2rem;
    padding: 0 1.1rem;
}

/* --------------------- Main ------------------------ */

main {
    text-align: center;
    padding: 0 1rem;
    background-image: url(/images/bg-header-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
}

/* A histoyy of everything section */

main section.intro {
    padding: 8rem 0;
}

section.intro .logo {
    margin-bottom: 4rem;
}

section.intro h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

section.intro .download-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Keep Track section */

section.keep-track {
    padding-bottom: 8rem;
}


section.keep-track .keep-track-img img{
    width: 100%;
}

section.keep-track ul.features {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 3rem;
}

section.keep-track ul.features li h3{
    font-size: 1.2rem;
    margin-bottom: .8rem;
}

section.keep-track ul.features li p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--grayish-blue);
    padding: 0 1rem;
}


/* Access Clipboard Anywhere section */

section.access-clipboard {
    padding-bottom: 8rem;
}

section.access-clipboard .access-clipboard-img img{
    width: 100%;
}


/* Supercharge yout workflow section */

section.supercharge {
    padding-bottom: 8rem;
}

section.supercharge .supercharge-text{
    padding: 0 2rem;
    margin-bottom: 5rem;
}

section.supercharge ul.features {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

section.supercharge ul.features li img {
    margin-bottom: 1.5rem;
}

section.supercharge ul.features li h3{
    font-size: 1.2rem;
    margin-bottom: .8rem;
}

section.supercharge ul.features li p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--grayish-blue);
    padding: 0 1rem;
}

/* Partners section */

section.partners {
    padding-bottom: 8rem;
}

section.partners ul{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

section.partners ul li img {
    width: 8rem;
}

/* Clipboard for iOS and MacOS section*/

section.apple {
    padding-bottom: 8rem;
}

section.apple .apple-text {
    margin-bottom: 2rem;
}

section.apple .apple-text  h2 {
    padding: 0 2rem;
}

section.apple .download-btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/* --------------------- Footer ------------------------ */

footer {
    background-color: var(--footer-bg);
    padding: 4rem 0 2.5rem;
    text-align: center;
}

footer .footer-logo {
    margin-bottom: 2rem;
}

footer .footer-logo img {
    width: 4rem;
}

footer .footer-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
    color: var(--dark-grayish-blue);
}

footer .footer-links li a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer .footer-links li a:hover {
    color: var(--strong-cyan);
}

footer .social-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

footer .social-links .social-link a{
    color: var(--dark-grayish-blue);
    transition: color 0.3s ease-in-out;
}

footer .social-links .social-link a:hover {
    color: var(--strong-cyan);
}

@media screen and (min-width: 768px) {
    main {
        background-image: url(/images/bg-header-desktop.png);
    }

    .download-btns {
        flex-direction: row !important;
    }

    section.intro {
        max-width: 39rem;
        margin-inline: auto;
    }

    .keep-track-text {
        max-width: 43rem;
        margin-inline: auto;
        margin-bottom: 5rem;
    }

    .keep-track-text .section-title {
        font-size: 3rem;
    }

    section.keep-track .image-features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7rem;
    }

    section.keep-track .image-features .features 
    {
        text-align: left;
    }

    section.keep-track .image-features .features {
        max-width: 22rem;
    }

    section.keep-track .image-features .features .feature p{
        padding: 0;
    }

    section.access-clipboard {
        padding-bottom: 5rem;
    }

    section.access-clipboard .access-clipboard-text {
        max-width: 43rem;
        margin-inline: auto;
        margin-bottom: 5rem;
    }

    .access-clipboard-text .section-title {
        font-size: 2.5rem;
    }

    .access-clipboard-img {
        max-width: 53rem;
        margin-inline: auto;
    }

    section.supercharge .supercharge-text h2{
        font-size: 2.5rem;
    }
    section.supercharge .supercharge-text p {
        font-size: 1.4rem;
    }

    section.supercharge .features {
        max-width: 60rem;
        flex-direction: row !important;
        margin-inline: auto;
    }

    section.partners {
        display: flex;
        justify-content: center;
    }

    section.partners ul {
        flex-direction: row;
        margin-inline: auto;
    }

    section.apple {
        max-width: 53%;
        margin-inline: auto;
    }
    section.apple .download-btns {
        padding: 0 6rem;
        font-size: 2rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 4rem 7rem 2.5rem;
        align-items: center;
    }

    footer .logo-and-links {
        display: flex;
        gap: 5rem;
    }

    footer .footer-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        text-align: left;
    }
}